* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #090015;
  overflow: hidden;
}

.galaxy {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* background-color: red; */
}

.star-div {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0; 
}