@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 15", sans-serif;
}

body {
  background-color: #010914;
  overflow-x: hidden;
}
